/* Aside */
.aside {
  width: 27rem;
  background-color: $body_light_bg_light;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;
  border-right: 0.1rem solid $body_light_border_light;
  -webkit-transition: $transition;
  transition: $transition;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    overflow: auto;
  }
}
  

  &__logo {
    padding: 3rem 0;

    span {
      font-size: 4rem;
      color: $body_light_heading_dark;
      font-family: 'Pacifico', cursive; 
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      position: relative;
      padding: 0 1rem;
      line-height: 5rem;

      &::before {
        content: '';
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      &::after {
        content: '';
        height: 2rem;
        width: 2rem;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .nav-toggler {
    height: 4rem;
    width: 4.5rem;
    border: 0.1rem solid $body_light_border_dark;
    cursor: pointer;
    position: fixed;
    left: 35rem;
    top: 1.8rem;
    z-index: 11;
    border-radius: 0.5rem;
    background-color: $body_light_bg_light;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: $transition;
    transition: $transition;

    
    span {
      height: 0.2rem;
      width: 1.8rem;
      display: inline-block;
      position: relative;
      
      &::before {
        content: '';
        height: 0.2rem;
        width: 1.8rem;
        position: absolute;
        top: -0.6rem;
        left: 0;
      }
      
      &::after {
        content: '';
        height: 0.2rem;
        width: 1.8rem;
        position: absolute;
        top: 0.6rem;
        left: 0;
      }  
    }

    &.open span { 
      background-color: transparent; 

      &::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
    }

  }

  .nav {
    list-style: none;
    margin: 8rem 0;
    padding: 0;

    li {
      display: block;

      a {
        font-size: 1.6rem;
        font-weight: 600;
        color: $body_light_heading_dark;
        text-decoration: none;
        line-height: 4rem;
        display: block;
        border-bottom: 0.1rem solid $body_light_border_light;
        -webkit-transition: $transition;
        transition: $transition;
        text-transform: capitalize;

        &:not(.active):hover { padding-left: 0.5rem; }

        .fa {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .copyright-text {
    font-size: 1.3rem;
    color: $grey_color;
  }

