


@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/container";
@import "./layouts/aside";
@import "./pages/home";
@import "./pages/about";
@import "./pages/skills";
@import "./pages/portfolio";
@import "./pages/lightbox";
@import "./pages/contact";
@import "./themes/dark";



/* Responsive */ 

@media (max-width: 1199px) {
  .section {
    left: 0;
    
    &.open { left: 27rem; }

    .container { padding-top: 7rem; }
  } 

  .aside  {
    left: -27rem;

    &.open { left: 0; }

    .nav-toggler {
      display: -ms-flexbox;
      display: flex;
      left: 3rem;

      &.open { left: 27.5rem; }
    }
  }

  .about .about-content .personal-info .info-inner p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .portfolio .portfolio-item,
  .service .service-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .about .about-content .timeline-box .timeline .timeline-item .timeline-title { line-height: 2rem; }
  .about .about-content .about-text h3 { line-height: 2.5rem; }
}

@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .skills .container .skill-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .personal-info {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
  .portfolio .portfolio-filter button { margin-bottom: 10px; }

  .about .about-content .education .timeline-box, .about .about-content .experience .timeline-box,
  .about .about-content .personal-info .buttons { margin-bottom: 1rem; }
}
  
@media (max-width: 575px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .about .about-content .personal-info .info-item p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  
  .home .intro h1, .section .container .section-title h2 {  font-size: 3.4rem; line-height: 3rem;}

  .home .intro .social-links a { margin: 0.2rem 0.4rem; }
  
}


