/* Skills Section */

.skills {
  .container {
    
    .skill-item {
      @include flex33;
      @include flex;

      @include tablet-only {
        @include flex100;
        margin-top: 1rem;
      }

      
      .skill-item-inner {      
        background-color: #fdf9ff;
        border: 0.1rem solid #d4d4e3;
        border-radius: 1rem;
        padding: 3rem 1.5rem;
        text-align: center;
        width: 100%;
        @include transition-ease;
      
        
        h4 { 
          font-weight: map-get($font-weight, middle);
          margin-bottom: 1rem;
          text-transform: capitalize;
        }
        
        .icon { 
          display: inline-block; 
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; 
        
          img { width: 7rem; height: 7rem; padding: 1rem;}
        }
      }
    }
  }
}