/* Preloader  */
.preloader {
  background-color: $body-dark_bg_light;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 150;
  @include flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include transition-loader;

  &.opacity-0 {
    opacity: 0;
  }

  .loader {
    height: 8rem;
    width: 8rem;
    border: .8rem solid $body_dark_heading;
    border-radius: 7rem;
    border-top-color: $body_light_heading_dark;
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
  }

  @-webkit-keyframes loading{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loading {
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
}