$pink_color: #2EC1AC;

.aside .logo span::before{
  border-top: 4px solid $pink_color;
  border-left: 4px solid $pink_color;
}

.aside .logo span::after{
  border-bottom: 4px solid $pink_color;
  border-right: 4px solid $pink_color;
}


.contact .contact-info-item .icon .fa,
.lightbox .lightbox-content .lightbox-close,
.lightbox .lightbox-controls .prev-item .fa, 
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
.skill .skill-item .skill-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active {
  color: $pink_color !important;
}

.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a   {
  background-color: $pink_color;
}

.portfolio .portfolio-filter button.active {
  border-color: #A65BD9;
}



